Repository Hares-2088/TravelTrove, pull requests merged in 2025-02, with the labels that each got.

#85 feat(TT-38): post tour review request
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/booking/BookingServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationService.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/config/SchedulerConfig.java
  be-traveltrove/src/main/resources/application.properties
  be-traveltrove/src/main/resources/email-templates/post-trip-review-email.html
Labels: enhancement, Notification

#86 feat(TT-35): limited spots notification
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/booking/BookingServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationService.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/tourpackage/PackageServiceImpl.java
  be-traveltrove/src/main/resources/email-templates/limited-spots-email.html
Labels: enhancement, Notification

#92 bug(TT-99): fix notification for limited spots
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/booking/BookingServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/tourpackage/PackageServiceImpl.java
  be-traveltrove/src/main/resources/email-templates/admin-resource-alert-email.html
Labels: bug

#96 feat(TT-39): contact us
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationService.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/business/notification/NotificationServiceImpl.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/presentation/notification/NotificationContactUsRequestModel.java
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/presentation/notification/NotificationController.java
  be-traveltrove/src/main/resources/email-templates/contact-us-email.html
  be-traveltrove/src/test/java/com/traveltrove/betraveltrove/business/notification/NotificationServiceUnitTest.java
  be-traveltrove/src/test/java/com/traveltrove/betraveltrove/presentation/notification/NotificationControllerIntegrationTest.java
  fe-traveltrove/public/locales/en/translation.json
  fe-traveltrove/public/locales/fr/translation.json
  fe-traveltrove/src/features/notifications/api/notifications.api.ts
  fe-traveltrove/src/features/notifications/models/notification.model.ts
  fe-traveltrove/src/layouts/NavBar.tsx
  fe-traveltrove/src/pages/ContactUsPage.tsx
  fe-traveltrove/src/router.tsx
  fe-traveltrove/src/shared/models/app.routes.ts
Labels: enhancement, Notification

#109 bug(TT-90): Fix user roles
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/config/security/SecurityConfig.java
  fe-traveltrove/src/App.css
  fe-traveltrove/src/context/UserContext.tsx
  fe-traveltrove/src/context/useAuthorization.ts
  fe-traveltrove/src/features/home/components/HomeDetails.css
  fe-traveltrove/src/features/users/api/users.api.ts
  fe-traveltrove/src/index.css
  fe-traveltrove/src/index.tsx
  fe-traveltrove/src/layouts/NavBar.tsx
  fe-traveltrove/src/pages/CallbackPage.tsx
  fe-traveltrove/src/pages/staff/DashboardPage.tsx
  fe-traveltrove/src/router.tsx
  fe-traveltrove/src/shared/components/ProtectedRoute.tsx
  fe-traveltrove/tests/packages.spec.ts
Labels: bug, Authentication

#110 bug (TT-107): Payment Amount Saved Not Accurate
  be-traveltrove/src/main/java/com/traveltrove/betraveltrove/utils/entitymodelyutils/PaymentModelUtil.java
Labels: bug, Payment and Billing
